<div class="row">
  <div class="col-xs-12">
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="selectedDate" is-open="opened" datepicker-options="dateOptions" close-text="Close" ng-click="toggle()" ng-change="updateDate(selectedDate)"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="toggle()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
</div>
