<div id="stock-panel" class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h3 class="panel-title">Stocks for {{ currentDate | date:'MMM dd, yyyy':'UTC' }}</h3>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <span class="input-group-addon">Filter: </span>
          <input type="text" class="form-control" ng-model="symbolFilter">
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" id="stock-data-body">
    <table class="table table-striped table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <th>symbol</th>
          <th>Price</th>
          <th>1d</th>
          <th>7d</th>
          <th>30d</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr suspendable ng-repeat="quote in quotes | symbol:symbolFilter | objArray | limitTo:100:offset.begin" stock-data="quote" ng-if="quote.price > 0"></tr>
      </tbody>
    </table>
    <div id="loading-bar-container"></div>
  </div>

  <div class="panel-footer">

  </div>
</div>
