<form name="tradeForm" ng-submit="validateTrade(tradeForm.$valid, stock, tradeForm)" novalidate>
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <label>
          Stock:
        </label>
        <select  name="symbol" class="form-control" ng-model="stock.symbol" ng-change="findStock(stock.symbol)" required>
          <option ng-repeat="selectStock in stocks" value="{{ selectStock.symbol }}">{{ selectStock.symbol }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>
          Quantity:
          <input class="form-control" type="number" name="quantity" ng-model="stock.quantity" ng-change="updateCost()" required ng-min="1" min="1">
        </label>
      </div>
      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" value="buy" name="buy" ng-model="stock.buy" required> Buy
        </label>
        <label class="radio-inline">
          <input type="radio" value="sell" name="buy" ng-model="stock.buy" required> Sell
        </label>
      </div>
      <div ng-hide="true">
        <input type="number" name="cost" ng-model="stock.cost" ng-max="{{ user.balance }}">
      </div>
      <div>
        <p>price: {{ selectedStock.price | currency }}</p>
        <p>cost: {{ stock.cost | currency }}</p>

        <button class="btn btn-primary btn-block" type="submit" name="button">Submit Trade</button>
      </div>
    </div>
    <div class="col-xs-4">
      <h3>Available Cash: {{ cash.value | currency }}</h3>
      <h4>Order Status: {{ tradeForm.$valid ? "Valid" : "Invalid" }}</h4>
    </div>
  </div>
</form>
